
@{
    ViewData["Title"] = "PlaceOrder";
    
}



<div>
    <!-- Your form and other content here -->
    @if (ViewBag.Message != null)
    {
        <script>
            alert('@ViewBag.Message');
        </script>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            alert('Error: @ViewBag.ErrorMessage');
        </script>
    }
</div>