@model IEnumerable<ECommerce_Final_Demo.Models.ViewModels.ItemViewModel>

<h3>Items List</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>
<select id="categoryId">
    <option value="">Select Category</option>
    <option value="Veg">Veg</option>
    <option value="Non-Veg">Non-Veg</option>
    <option value="Egg">Egg</option>
</select>

<div id="itemListContainer">
    @Html.Partial("_itemPartialView", Model);
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryId').change(function () {
                var selectedCategory = $(this).val(); // Get the selected category

                $.ajax({
                    url: '@Url.Action("StoreItems", "Item")', // Controller action method to call
                    type: 'GET',
                    data: { category: selectedCategory }, // Data to send (category selected)
                    success: function (result) {
                        // Load the partial view returned by the controller into the itemListContainer div
                        $('#itemListContainer').html(result);
                    },
                    error: function () {
                        alert('Error while loading data.');
                    }
                });
            });
        });
    </script>
}


 
